@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Digital-7';
    src: url('/digital/digital-7.ttf') format('truetype');
  }
@font-face {
    font-family: 'DigitalNumbers';
    src: url('/digital-numbers/DigitalNumbers-Regular.ttf') format('truetype');
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

.digital-font {
  font-family: 'Digital-7', sans-serif;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
  
 
}



.animate-scroll {
  animation: scroll 20s linear infinite;
}

.btn:active {
/* background: rgb(248, 6, 6); */
color: #0b69ff;
}

.tab-product-details {
  position: relative;
  /* padding-bottom: 1rem; */
}

.tab-product-details::after {
  content: "";
  width: 100%;
  height: .1rem;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.size-style {
  background-color:#0b69ff;
  color: white;
  font-weight: 300;
}